<h1>Detalhes da postagem</h1>

<ul>
  <li>
    <a href="/users/{{ post.userId }}">Autor da postagem</a>
  </li>
  <li>Título: {{ post.title }}</li>
  <li>Conteúdo: {{ post.body }}</li>
</ul>

<a href="/">Voltar para listagem de postagens</a>
